{{!-- <h1>Static Header.hbs TeXt</h1> --}}
<h1>{{title}}</h1> {{!-- Dynamic Text {different for each page} --}}

{{!-- Navigation Bar --}}
    <div>
        <a href="/">HomePage</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>