<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/js/sample.js"></script>
    <title>Index HomePage</title>
</head>
<body>
    {{>header}}
    {{!-- <h1>{{title}}</h1> <!-- HandleBars Syntax used, inside value: the name_value you gave in app.js, that you want to inject in the tag--> --}}
    <p>Attaching This Static file by Absolute path from the root
        <br>Created by {{name}}
    </p>
    <img src="./img/rickroll.jpg" alt="Rick-Rolled!">
    {{>footer}}
</body>
</html>